* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
header{
	width: 100%;
	height: 70px;
	background-color: #EC715F
}
.head-box{
	width: 1024px;
	position: relative;
	margin: 0 auto;
}
.nav-list{
	margin:0 auto;
	list-style: none;
	position: absolute;
	right: 30px;
}
.Mysite{
	float:left;
	height: 70px;
}
li{
	margin-right: 60px;
	font-size: 16px;
	color: #FAFAFA;
	display: inline-block;
	/*position:absolute;*/
	right: 30px;
	line-height: 70px;
	/*float: right;*/

}
li:last-child{
	margin-right: 30px;
}
.main-visual{
	height: 650px;
	padding-top: 200px;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
}
.main-visual > h1{
	color: #FAFAFA;
	margin-bottom: 10px;
	font-size: 64px;
	text-align: center;
}
.main-visual > p{
	color: #FAFAFA;
	font-size: 20px;
	text-align: center;
}
.portfolio{
	/*width: 100%;*/
	padding-bottom: 90px;
	background-color: #ECEFF1;
}
.lalala{
	margin:0 auto;
	padding: 90px 0 8px;
	font-size: 32px;
	color: #000;
	text-align: center;
}
.border{
	width: 70px;
	margin: 0 auto;
	border-bottom: 3px solid #EC715F;
}
.gomeson{
	font-size:16px;
	color:#000;
	text-align:center;
	padding:30px 0;
}
.wide-img-box{
	width: 960px;
	margin: 0 auto 90px;
	/*text-align: center;*/
}
.img-box{
	display: inline-block;
	width: 300px;
	height: 250px;
	margin: 10px;
	float: left;
}
.img1{
	background-size: cover;
	background-position: center;
	background-image: url(img/sketch.jpg);
}
.img2{
	background-size: cover;
	background-position: center;
	background-image: url(img/websuku.png);
}
.img3{
	background-size: cover;
	background-position: center;
	background-image: url(img/write.jpg);
}
.img4{
	background-size: cover;
	background-position: center;
	background-image: url(img/webcamp.png);
}
.img5{
	background-size: cover;
	background-position: center;
	background-image: url(img/talk.jpg);
}
.img6{
	background-size: cover;
	background-position: center;
	background-image: url(img/webcamp-mother.png);
}


.wide-sentence-box{
	width: 980px;
	margin: 0 auto;
	margin-bottom:90px;
}
.mid-box{
	margin-right: 10px;
	width: 320px;
	float: left;
	text-align: center;
}
.mid-box:last-child{
	margin-right: 0;
}
.mid-box > h3{
	font-size: 20px;
	margin: 10px 0;
}
.mid-box > p{
	font-size: 16px;
	color: #000;
	text-align: left;
}
i{
	margin: 0 auto;
	font-size: 60px;
}
.wide-profile-box{
	width: 1024px;
	margin: 0 auto;
}
.face-box{
	float: left;
	width: 512px;
	text-align: center;
	/*display: inline-block;*/
}
.face{
	border-radius: 180px;
	/*text-align: center;*/
	width: 250px;
	height: 250px;
}
.profile-content{
	width: 512px;
	float: left;
}
.profile-content > p{
	font-size: 16px;
	color: #000;
}
.name{
	font-size: 20px;
	margin: 30px 0 5px;
}
.skil{
	margin: 20px 0 5px;
}
.contact-box{
	margin: 0 auto;
	margin-bottom: 90px;
	width: 800px;
}
.left-contact{
	width: 400px;
	float: left;
	text-align: center;
}
.left-contact-box{
	/*margin-left: 180px;*/
	display: inline-block;
}
.left-contact > h3{
	font-size: 20px;
	margin-bottom: 5px;
}
.mail{

	text-align: left;
	margin-bottom: 5px;
}
.mail-content{
	text-align: left;
	display: block;
	margin-bottom: 20px;
	color: black;
}
.left-contact > a {
	text-align: left;
	color: black;
	text-decoration: none;
	padding-bottom: 20px;
}
.right-contact{
	width: 400px;
	float: left;
}
/*.right-contact-box{
	text-align: center;
}*/
.ababa{
	margin: 0 auto;
	width:200px;
	/*padding: 0 auto;*/
}

.ababa > h3{
	margin-bottom: 5px;
	font-size: 20px;
}

/*.right-contact > h3{
	margin-bottom: 5px;
	font-size: 20px;
}*/
.ababa > i{
	text-align:left;
	font-size: 50px;
	margin-right: 20px;
	margin-top: 5px;
}
/*.right-contact > i{
	text-align:left;
	font-size: 50px;
	margin-right: 20px;
	margin-top: 5px;
}*/
.right-contact > i:last-child{
	margin-right: 0;
}
footer{
	width: 100%;
	height: 60px;
	background-color: #EC715F;
}
footer > p{
	font-size: 16px;
	color: #FAFAFA;
	line-height: 60px;
	text-align: center;
}




@media screen and (max-width: 768px){
body{
	margin: 0 5px;
}

#humberger {
  position: relative;
  height: 24px;
  width: 24px;
  display: inline-block;
  box-sizing: border-box;
}
#humberger div {
  position: absolute;
  left: 0;
  height: 4px;
  width: 24px;
  background-color: #444;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box;
}
#humberger div:nth-of-type(1) {
  top: 0;
}
#humberger div:nth-of-type(2) {
  top: 10px;
}
#humberger div:nth-of-type(3) {
  bottom: 0;
}












header{
	width: 100%;
	height: 50px;
}
.head-box{
	width: 100%;
	margin: 0 auto;
}
.nav-list{
	height: 50px;
	/*line-height: 50px;*/
}
.nav-list > li{
	line-height: 50px;
}

.Mysite{
	height: 50px;
}
.main-visual{
	width: 100%;
}


.main-visual{
	background-size: cover;
	background-image: url(img/code.png);
	width: 100%;
}
.main-visual > h1{
	font-size: 40px;
}
.main-visual > p{
	font-size: 18px;
}
.lalala{
	font-size: 32px;
}
.wide-img-box{
	width: 500px;
	margin: 0 auto;
	text-align: center;
	float: none;


  content: "";
  display: block;
  clear: both;
}
.img-box{
	display: inline-block;
	margin: 0 auto;
	float: none;
	text-align: center;
}
.img-box:last-child{
	margin-bottom: 0;
}
.img1,.img3,.img5{
	display: none;
}

.mid-box:last-child{
	margin: 0 auto;
}
.mid-box{
	width: 320px;
	float: none;
	margin: 0 auto 10px;
}
.wide-sentence-box{
	width: 100%;
}

.wide-portfile-box{
	float: none;
}
.face-box{
	width: 100%;
	/*padding: 0 auto;*/
	margin: 0 auto;
	float: none;
	text-align: center;
}
.face{
	float: none;
	margin: 0 auto;
	display: inline-block;
}
.name{
	margin: 20px auto 5px;
	display: inline-block;
	/*padding: 20px auto 5px;*/
	/*text-align: center;*/
}
.skil{
	padding: 20px auto 5px;
	text-align: center;
}
.profile-content{
	text-align: center;
}
.profile-content > p{
	margin: 0 auto;
	display: inline-block;
	/*text-align: center;*/
}

.wide-profile-box{
	width: 100%;
}

.right-contact{
	width: 100%;
	margin: 0 auto;
}

.profile-content{
	/*display: block;*/
	float: none;
	margin: 0 auto;
}
.contact-box{
	width: 100%;
	text-align: center;
}
.left-contact{
	width: 100%;
}
.left-contact-box{
	width: 100%;
	margin-top: 30px;
	padding: 0 auto;
}
.left-contact-box > a{
	text-align: center;
}
.mail{
	padding: 0 auto;
	text-align: center;
}
.right-contact > i{
	font-size:50px;
}







.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  margin:5px 0 5px;
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 5%;
  border:2px solid white;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 4px;
}
.menu-trigger span:nth-of-type(2) {
	/*line-height: 50px;*/
  top: 16px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 4px;
}

.nav-list li{
	display: none;
}


}*/